@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');
@media (min-width:1024px) {
.radialBarChartComponent {
    width:32%;
    height:100%;
    background-color: #FBFBFB;
    border-radius: 8px;
}
.title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.legend{
    position: absolute;
    bottom:152px;
    left:15px;
    font-size: 14px;
    color:#20253A;
    margin: 0;
    font-weight: 500;
}
.todayScore {
    margin:0;
    position: relative;
    bottom: 136px;
    left: 32px;
    max-width: 101px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #282D30;
    line-height: 20px;
    background-color: #FFF;
    width: 120px;
    height: 70px;
    border-radius: 50%;
    padding-top: 31px;
}
.todayScoreGrey {
    color: #74798C;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
    width: 48px;
}
}