@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');
@media (min-width:1024px) {
  .radarChartComponent{
    width:32%;
    height:100%;
    background-color: #282D30;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radialCon {
  display: inline-block;
  margin: 0 auto;
}
.kind{
    font-size: 8px;
    text-transform: capitalize;
    color: #FFFFFF;
}

}