@media (min-width:1024px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #020203;
        width: 115px;
        height: 100%;
        position: fixed;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
        padding: 100px 0 0;
        row-gap: 3%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        row-gap: 8px;
        margin-top: 156px;
    }
    .li {
        padding: 0;
        list-style: none;
    }
    .img{
        border-radius:8px;
        width:94%;
    }

    .copyright {
        color:#FFF;
        writing-mode:vertical-rl;
        transform: rotate(180deg);
        margin:24px 30px;
        padding: 0 auto;
        font-size: 12px;
    }
}