@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');
@media (min-width:1024px) {
.background {
  padding: 129px 204px;
}
.title {
  margin: 0;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 500;
}
.red {
  color: #FF0101;
}
.subtitle {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  margin: 14px 0;
}
.barChart{
  width:594px;
  height: 320px;
  background-color: #000;
  border-radius: 12px;
  
}
.cards{
  position: absolute;
  top: 250px;
  left: 762px;
}
}