@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');
@media (min-width:1024px) {
.radialBarChartComponent {
    width:184px;
    height: 196px;
    position:absolute;
    top:510px;
    left:556px;
    background-color: aqua;
    border-radius: 8px;
}
}